/**
* @name saber.exe
* @description Artoria Pendragon (Saber) theme xd
* @version 1.0
* @author Justsenpai_ | szopjle#4172
* @authorId 270607409150558208
*/
@import url(https://puckzxz.github.io/NotAnotherAnimeTheme/css/scsl.css);
@import url('https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css');
:root {
    --background-image: url(https://images6.alphacoders.com/657/thumb-1920-657194.jpg);
    --friends-icon: url(https://giffiles.alphacoders.com/134/13492.gif);
    --friends-icon-position: center center;
    --friends-icon-zoom: 166%;
    --main-color: rgb(50, 83, 173);
    --main-transparency: rgba(1, 2, 38, 0.767);
    --unread-server-animation: rainbow;
    --hover-list-bg-color: rgba(1, 9, 65, 0.144);
    --border-lines-color: rgb(0, 0, 0);
    --scroll-bar-color: rgba(9, 17, 133, 0.242);
    --font-size: 16px;
    --selected-text-voice-color: rgb(255, 241, 83);
    --channel-hover-text-color: rgb(255, 217, 0);
    --unread-text-color: rgb(240, 186, 22);
    --user-popup-background: rgba(69, 72, 5, 0.404);
    --rs-small-spacing: 1px;
    --rs-large-spacing: 2px;
    --rs-width: 2px;
    --rs-avatar-shape: 42.0%;
    --rs-online-color: #09ff00;
    --rs-idle-color: #f87c08;
    --rs-dnd-color: #fd0000;
    --rs-offline-color: #242525;
    --rs-streaming-color: #723bcf;
    --rs-invisible-color: #8b8b8b;
    --HSL-server-icon-size: 55px;
    --HSL-server-spacing: 10px;
}
